
.btn-success:hover{

    background-color: red;
}
canvas {

    animation-name: example;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
}
@keyframes example {
 from {box-shadow: 1px 1px 38px rgb(233, 62, 116);}
 to{box-shadow: 1px 1px 38px rgb(12, 150, 138);}


}





